@import "tailwindcss";

@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

@font-face {
font-family: "CircularStd";
src: url(../fonts/CircularStd-Book.woff2) format("woff2");
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "CircularStd";
src: url(../fonts/CircularStd-Light.woff2) format("woff2");
font-weight: 300;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "CircularStd";
src: url(../fonts/CircularStd-Bold.woff2) format("woff2");
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "CircularStd";
src: url("../fonts/CircularStd-Black.woff2") format("woff2");
font-weight: 900;
font-style: normal;
font-display: swap;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  99% {
      opacity: 0;
      visibility: visible;
  }
  100% {
      opacity: 0;
      visibility: hidden; /* Esto oculta visualmente el elemento */
      display: none; /* Esto quita el espacio que ocupa */
  }
}

.fade-out {
  animation: fadeOut 2s ease-out forwards;
  animation-delay: 2s;
  /* El tiempo que quieres esperar antes de que comience */
}

html {
  font-family: "CircularStd", system-ui, sans-serif;
}

.font-circular {
    font-family: "CircularStd", sans-serif;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Ancho de la barra de desplazamiento */
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
}


/* Color del fondo del track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(30, 30, 30); /* Color del fondo */
  border-radius: 10px;
}

/* Color y diseño del thumb (barra de desplazamiento) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
  border-radius: 10px;
}

/* Cambia el color cuando el usuario pasa el mouse */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}

